*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    font-family: serif;
    background-color: oklch(0.398 0.195 277.366);
}

h1{
    background-color:oklch(0.257 0.09 281.288);
    color:oklch(0.93 0.034 272.788);
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#newGame{
    height: 50px;
    width: 180px;
    background-color: oklch(0.359 0.144 278.697);
    color: oklch(0.93 0.034 272.788);
    border-radius: 10px;
    font-family: inherit;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.gameboard{
    height: 60vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.board1, .board2{
    height: 100%;
    width: 45%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.square1, .square2{
    border: 1px solid oklch(0.257 0.09 281.288);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oklch(0.785 0.115 274.713);
}
.txt{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: inherit;
    font-size: 30px;
    font-weight: bolder;
    color:oklch(0.93 0.034 272.788);
}
.disabled-board {
    pointer-events: none;
    opacity: 0.5; 
    background-color: lightgray;
}
.board1:not(.disabled-board),
.board2:not(.disabled-board) {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), 
                0 6px 12px rgba(0, 0, 0, 0.4) inset;
}

/* All the box-shadow effects are done using chatgpt for now as it's out of my knowledge scope rn but i wanted to make the UI better so... */
